* {
	box-sizing: border-box;
}
html {
	font-size: 10px;
	font-family: 'Verdana', sans-serif;
}
body {
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	color: #fff;
}
#main-head {
	background-image: url(../img/man-1.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 100vw;
	height: 100vh;
	position: relative;
	top: 0;
	border: 0.1px solid;
}
#main-head h1, h2 {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	letter-spacing: 2px;
	margin-left: 5vw;
}
#main-head h1 {
	font-size: 2.5rem;
}
#main-head h2 {
	font-size: 3.5rem;
}