html, body{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: #D2EDE9;
}
button {
	width: 200px;
	height: 50px;
	font-weight: 600;
	font-size: 20px;
	margin-left: 50%;
	margin-top: 5%;
	background-color: #2a2c5a;
	transform: translateX(-50%);
	color: #fff;
	font-family: verdana, 'sans-serif';
	border-radius: 10%;
	box-shadow: 9px 10px 30px black;
	cursor: pointer;
	transition: .3s linear;
}
button:hover {
	background-color: #2f74b0;
	width: 220px;
	height: 60px;
}
button:focus {
	background-color: #2f74b0;
	width: 220px;
	height: 60px;
}
#dane-programisty {
	margin-left: 50%;
	margin-top: 50px;
	transform: translateX(-50%);
	border: .5px solid darkslategrey;
	width: auto;
	height: 400px;
	background-color: darkslategrey;
	text-align: center;
	box-shadow: 9px 10px 30px black;
}
#dane-programisty p {
	font-family: verdana, 'sans-serif';
	font-size: 40px;
	color: azure;
	border-bottom: 1px solid black;
}