body {
    background-color: #c3c1c4;
    margin: 0;
    padding: 30px;
}
sup {
	font-size: 17px;
}
input {
	background-color: bisque;
}
#form {
    width: 70%;
    height: auto;
    position: relative;
    top: auto;
    left: 20%;
}

.button {
    cursor: pointer;
    background-color: #dfdbc3;
    width: 150px;
    height: 50px;
    font-size: 20px;
    color: #0e2f44;
    font-weight: 600;
    box-shadow: 5px 1em 2em hsla(0, 0%, 0%, .9);
	text-transform: uppercase;
	font-weight: bold;
}
.button:hover {
    background-color: #0e2f44;
    color: #dfdbc3;
}
.button:focus, .focus:focus {
    background-color: #777696;
	border: 1px solid blue;
}
.zapisy {
    color: red;
    width: 100%;
    height: 60px;
    margin: auto;
    padding-top: 20px;
    text-align: center;
    text-transform: uppercase;
    background-color: darkslategrey;
    box-shadow: 5px 1em 2em hsla(0, 0%, 0%, .9);
    position: relative;
    top: 0px;
}
.pointer {
    cursor: pointer;
}
.textarea {
    width: 600px;
    height: 150px;
}
textarea:hover {
    background-color: #dfdbc3;
}
.checkbox {
    width: 20px;
    height: 20px;
    cursor: pointer;
}