body {
    background-color: #c3c1c4;
    margin: 0;
    padding: 30px;
}

#form {
    width: 70%;
    height: auto;
    position: relative;
    top: auto;
    left: 20%;
}

.button {
    cursor: pointer;
    border-radius: 10%;
    background-color: #dfdbc3;
    width: 150px;
    height: 50px;
    font-size: 20px;
    color: #0e2f44;
    font-weight: 600;
    box-shadow: 5px 1em 2em hsla(0, 0%, 0%, .9);
}

.button:hover {
    background-color: #0e2f44;
    color: #dfdbc3;
}

.button:focus {
    background-color: #777696;
}

.focus:hover {
    background-color: #dfdbc3;
}

.zapisy {
    color: red;
    width: 100%;
    height: 60px;
    margin: auto;
    padding-top: 20px;
    text-align: center;
    text-transform: uppercase;
    background-color: darkslategrey;
    box-shadow: 5px 1em 2em hsla(0, 0%, 0%, .9);
    position: relative;
    top: 0px;
}

.pointer {
    cursor: pointer;
}

.textarea {
    width: 600px;
    height: 150px;
}

textarea:hover {
    background-color: #dfdbc3;
}

.checkbox {
    width: 20px;
    height: 20px;
    cursor: pointer;
}
