/* SECTION HEADER START */

/* TO PORTRAIT */

/* NAVBAR CHAMBURGER STYLE START */
@media (max-width: 991px) {
	#navbarNav {
		background-color: rgba(63, 68, 71, .9);
	}
	.navbar {
		background-color: rgba(63, 68, 71, .9);
        height: 70px;
	}
	.nav-link span {
		font-weight: 600;
	}
}
/* NAVBAR CHAMBURGER STYLE START */

@media (max-width: 320px) and (orientation: portrait) {
	.header-content h1 {
		margin-bottom: 5%;
		font-size: 2rem;
	}
	.header-content h2 {
		font-size: 1rem;
		font-weight: 500;
		margin-left: 5%;
		margin-right: 5%;
	}
	#main-header {
		height: 100vh;
	}
	.header-content {
		top: 55%;
	}
	.h3-content h3 {
		font-size: 1.5rem;
	}
	#order {
/*		height: 135vh;*/
	}
    .section-caption {
        margin-left: 5%;
        margin-right: 5%;
    }
    .section-header h2 {
        margin-top: 10%;
    }
    #map {
        height: 100vh;
    }
    .contact-data {
        margin-left: 5px;
        margin-top: 5%;
    }
    .contact-data h1 {
        font-size: 2rem;
    }
    .contact-data address {
        font-size: 1.5rem;
    }
    .contact-data address a::before {
        content: '\A';
    }
    .contact-form button {
        margin-bottom: 20px;
    }
    .contact-form-content {
        top: 40%;
    }
    .offer-head {
        -webkit-transform: translate(5%, 15%);
        transform: translate(5%, 15%);
        width: 390px;
        min-width: 250px;
    }
    .offer-head:hover {
    -webkit-transform: translateX(5%);
    transform: translateX(5%);
    }
    .offer-head span {
        font-size: 2.4rem;
    }
    .section-header .offer-head {
        font-size: 2.4rem;
        margin-top: 9%;
    }
    .offer-content-1 {
        text-align: justify;
        margin: 2%;
        margin-top: 8%;
        margin-bottom: 8%;
    }
    .section-header .offer-content-1 {
        font-size: 1.7rem;
    }
    .offer-container-1 {
        background: transparent;
    }
    #offer {
        background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 10, 10, .6)), to(rgba(0, 10, 10, .4))), url(../img/offer-bg.png) no-repeat scroll right, url(../img/truck_m.jpg) no-repeat fixed -70px 10px;
        background: linear-gradient(to top, rgba(0, 10, 10, .6), rgba(0, 10, 10, .4)), url(../img/offer-bg.png) no-repeat scroll right, url(../img/truck_m.jpg) no-repeat fixed -70px 10px;
        background-size: cover;
    }
    .offer-container-2 .h3-offer {
        margin-top: 0%;
        font-size: 1.7rem;
    }
    #sended span {
        font-size: 2rem;
    }
}

@media (min-width: 321px) and (max-width: 540px) and (orientation: portrait) {
	.header-content h1 {
		margin-bottom: 5%;
		font-size: 2rem;
	}
	.header-content h2 {
		font-size: 1.5rem;
		font-weight: 500;
		margin-left: 5%;
		margin-right: 5%;
	}
	#main-header {
		height: 100vh;
	}
	.header-content {
		top: 55%;
	}
	.h3-content h3 {
		font-size: 2rem;
		font-weight: 300
	}
	#order {
/*		height: 130vh;*/
	}
    .section-caption {
        margin-left: 5%;
        margin-right: 5%;
    }
    .section-header h2 {
        margin-top: 10%;
    }
    #map {
        height: 100vh;
    }
    .contact-data {
        margin-left: 5px;
        margin-top: 5%;
    }
    .contact-data h1 {
        font-size: 2rem;
    }
    .contact-data address {
        font-size: 1.5rem;
    }
    .contact-data address a::before {
        content: '\A';
    }
    .contact-form button {
        margin-bottom: 20px;
    }
    .contact-form-content {
        top: 40%;
    }
    .offer-head {
        -webkit-transform: translate(5%, 15%);
        transform: translate(5%, 15%);
        width: 300px;
        min-width: 300px;
    }
    .offer-head:hover {
    -webkit-transform: translateX(5%);
    transform: translateX(5%);
    }
    .offer-head span {
        font-size: 2.4rem;
    }
    .section-header .offer-head {
        font-size: 2.4rem;
        margin-top: 9%;
    }
    .offer-content-1 {
        text-align: justify;
        margin: 2%;
        margin-top: 8%;
        margin-bottom: 8%;
    }
    .section-header .offer-content-1 {
        font-size: 1.5rem;
    }
    .offer-container-1 {
        background: transparent;
    }
    #offer {
        background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 10, 10, .8)), to(rgba(0, 10, 10, .8))), url(../img/offer-bg.png) no-repeat scroll right, url(../img/truck_m.jpg) no-repeat fixed -70px 10px;
        background: linear-gradient(to top, rgba(0, 10, 10, .8), rgba(0, 10, 10, .8)), url(../img/offer-bg.png) no-repeat scroll right, url(../img/truck_m.jpg) no-repeat fixed -70px 10px;
        background-size: cover;
    }
    .offer-container-2 .h3-offer {
        margin-top: 0%;
        font-size: 1.7rem;
    }
    #sended span {
        font-size: 2rem;
    }
}

@media (min-width: 541px) and (max-width: 740px) and (orientation: portrait) {
	.header-content h1 {
		margin-bottom: 10%;
		font-size: 4rem;
	}
	.header-content h2 {
		font-size: 2rem;
		font-weight: 500;
		margin-left: 5%;
		margin-right: 5%;
	}
	#main-header {
		height: 100vh;
	}
	.header-content {
		top: 55%;
	}
	.h3-content h3 {
		font-size: 3rem;
		font-weight: 400
	}
	#order {
/*		height: 100vh;*/
	}
    .section-caption {
        margin-left: 5%;
        margin-right: 5%;
    }
    .section-header h2 {
        margin-top: 10%;
    }
    #map {
        height: 100vh;
    }
    .contact-data {
        margin-left: 5px;
        margin-top: 5%;
    }
    .contact-data h1 {
        font-size: 3rem;
    }
    .contact-data address {
        font-size: 2rem;
    }
    .contact-data address a::before {
        content: '\A';
    }
    .contact-form button {
        margin-bottom: 20px;
    }
    .contact-form-content {
        top: 40%;
    }
    .offer-head {
        -webkit-transform: translate(5%, 15%);
        transform: translate(5%, 15%);
        width: 320px;
        min-width: 310px;
    }
    .offer-head:hover {
    -webkit-transform: translateX(5%);
    transform: translateX(5%);
    }
    .offer-head span {
        font-size: 2.4rem;
    }
    .section-header .offer-head {
        font-size: 2.4rem;
        margin-top: 9%;
    }
    .offer-content-1 {
        text-align: justify;
        margin: 2%;
        margin-top: 8%;
        margin-bottom: 8%;
    }
    .section-header .offer-content-1 {
        font-size: 1.6rem;
    }
    .offer-container-1 {
        background: transparent;
    }
    #offer {
        background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 10, 10, .8)), to(rgba(0, 10, 10, .8))), url(../img/offer-bg.png) no-repeat scroll right, url(../img/truck_m.jpg) no-repeat fixed -70px 10px;
        background: linear-gradient(to top, rgba(0, 10, 10, .8), rgba(0, 10, 10, .8)), url(../img/offer-bg.png) no-repeat scroll right, url(../img/truck_m.jpg) no-repeat fixed -70px 10px;
        background-size: cover;
    }
    .offer-container-2 .h3-offer {
        margin-top: 0%;
        font-size: 1.7rem;
    }
    #sended span {
        font-size: 2.2rem;
    }
}


/* TO LANDSCAPE */

@media (min-width: 320) and (max-width: 390) and (orientation: landscape) {
	.header-content h1 {
		margin-bottom: 1%;
		font-size: 1rem;
	}
	.header-content h2 {
		font-size: 1rem;
		font-weight: 500;
		margin-left: 5%;
		margin-right: 5%;
	}
	#main-header {
		height: 100vh;
	}
	.header-content {
		top: 45%;
	}
	.h3-content h3 {
		font-size: 1.5rem;
	}
	#order {
/*		height: 135vh;*/
	}
    .section-caption {
        margin-left: 5%;
        margin-right: 5%;
    }
    .section-header h2 {
        margin-top: 10%;
    }
    #map {
        height: 100vh;
    }
    .contact-data {
        margin-left: 5px;
        margin-top: 5%;
    }
    .contact-data h1 {
        font-size: 2rem;
    }
    .contact-data address {
        font-size: 1.5rem;
    }
    .contact-data address a::before {
        content: '\A';
    }
    .contact-form button {
        margin-bottom: 20px;
    }
    .contact-form-content {
        top: 40%;
    }
    .offer-head {
        -webkit-transform: translate(5%, 15%);
        transform: translate(5%, 15%);
        width: 320px;
        min-width: 250px;
    }
    .offer-head:hover {
    -webkit-transform: translateX(5%);
    transform: translateX(5%);
    }
    .offer-head span {
        font-size: 2.5rem;
    }
    .section-header .offer-head {
        font-size: 2.5rem;
        margin-top: 9%;
    }
    .offer-content-1 {
        text-align: justify;
        margin: 2%;
        margin-top: 8%;
        margin-bottom: 8%;
    }
    .section-header .offer-content-1 {
        font-size: 1.7rem;
    }
    .offer-container-1 {
        background: transparent;
    }
    #offer {
        background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 10, 10, .8)), to(rgba(0, 10, 10, .8))), url(../img/offer-bg.png) no-repeat scroll right, url(../img/truck_m.jpg) no-repeat fixed -70px 10px;
        background: linear-gradient(to top, rgba(0, 10, 10, .8), rgba(0, 10, 10, .8)), url(../img/offer-bg.png) no-repeat scroll right, url(../img/truck_m.jpg) no-repeat fixed -70px 10px;
        background-size: cover;
    }
    .offer-container-2 .h3-offer {
        margin-top: 0%;
        font-size: 1.7rem;
    }
    #sended span {
        font-size: 2rem;
    }
}


@media (max-width: 540px) and (orientation: landscape) {
	.header-content h1 {
		margin-bottom: 1%;
		font-size: 2rem;
	}
	.header-content h2 {
		font-size: 1rem;
		font-weight: 500;
		margin-left: 5%;
		margin-right: 5%;
	}
	#main-header {
/*		height: 100vh;*/
	}
	.header-content {
		top: 55%;
	}
	.h3-content h3 {
		font-size: 1.2rem;
		margin-bottom: 10px;
	}
	.h3-content {
		top: 30%;
	}
	#order {
/*		height: 130vh;*/
	}
    .section-caption {
        margin-left: 5%;
        margin-right: 5%;
    }
    .section-header h2 {
        margin-top: 5%;
    }
    #map {
        height: 100vh;
    }
    .contact-data {
        margin-left: 5px;
        margin-top: 5%;
    }
    .contact-data h1 {
        font-size: 1rem;
    }
    .contact-data address {
        font-size: 1.5rem;
    }
    .contact-data address a::before {
        content: '\A';
    }
    .contact-form button {
        margin-bottom: 20px;
    }
    .contact-form-content {
        top: 40%;
    }
    .offer-head {
        -webkit-transform: translate(5%, 10%);
        transform: translate(5%, 10%);
        width: 390px;
        min-width: 250px;
    }
    .offer-head:hover {
    -webkit-transform: translateX(5%);
    transform: translateX(5%);
    }
    .offer-head span {
        font-size: 2.5rem;
    }
    .section-header .offer-head {
        font-size: 2.5rem;
        margin-top: 9%;
    }
    .offer-content-1 {
        text-align: justify;
        margin: 2%;
        margin-top: 8%;
        margin-bottom: 8%;
    }
    .section-header .offer-content-1 {
        font-size: 1.7rem;
    }
    .offer-container-1 {
        background: transparent;
    }
    #offer {
        background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 10, 10, .8)), to(rgba(0, 10, 10, .8))), url(../img/offer-bg.png) no-repeat scroll right, url(../img/truck_m.jpg) no-repeat fixed -70px 10px;
        background: linear-gradient(to top, rgba(0, 10, 10, .8), rgba(0, 10, 10, .8)), url(../img/offer-bg.png) no-repeat scroll right, url(../img/truck_m.jpg) no-repeat fixed -70px 10px;
        background-size: cover;
    }
    .offer-container-2 .h3-offer {
        margin-top: 0%;
        font-size: 1.7rem;
    }
    #sended span {
        font-size: 2.2rem;
    }
}

@media (min-width: 541px) and (max-width: 740px) and (orientation: landscape) {
	.header-content h1 {
		margin-bottom: 5%;
		font-size: 2.5rem;
	}
	.header-content h2 {
		font-size: 1.5rem;
		font-weight: 500;
		margin-left: 5%;
		margin-right: 5%;
	}
	#main-header {
/*		height: 115vh;*/
	}
	.header-content {
		top: 55%;
	}
	#order {
/*		height: 180vh;*/
	}
    .section-header h2 {
        margin-top: 10%;
    }
    #map {
        height: 100vh;
    }
}

@media (min-width: 740px) and (max-width: 1000px) and (orientation: landscape) {
	.header-content h1 {
		margin-bottom: 2%;
		font-size: 3rem;
	}
	.header-content h2 {
		font-size: 1.5rem;
		font-weight: 500;
		margin-left: 5%;
		margin-right: 5%;
	}
	#main-header {
/*		height: 100vh;*/
	}
	.header-content {
		top: 55%;
	}
	#order {
/*		height: 90vh;*/
	}
    .section-header h2 {
/*        margin-top: 10%;*/
    }
    #map {
        height: 100vh;
    }
    .contact-data {
        margin-left: 5px;
        margin-top: 5%;
    }
    .contact-data h1 {
        font-size: 2rem;
    }
    .contact-data address {
        font-size: 1.5rem;
    }
    .contact-data address a::before {
        content: '\A';
    }
    .contact-form button {
        margin-bottom: 20px;
    }
    .contact-form-content {
        top: 40%;
    }
}

/* SECTION HEADER END */













