/* GENERAL STYLES START*/

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-size: 10px;
}

.navbar span {
    color: #F6F7F8;
    font-size: 2rem;
}

h3 {
    text-align: center;
    margin: 0 auto;
    color: #F6F7F8;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.h3-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

/*
section {
	padding: 60px 0;
}
*/

.section-header {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

/* GENERAL STYLES END*/

/*HEADER START */

/* ARROW START */

#arrow {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 100;
    background-color: rgba(244,54,76, .7);
    margin: 5%;
    position: fixed;
    cursor: pointer;
    overflow: hidden;
    display: none;
    transition: .7s all linear;
    /*    text-shadow: 0px -15px 0 white, 0px -30px 0 white;*/
    border: .1px;
}

.fa-chevron-up {
    /*    animation: arrow-animation 1s infinite linear;*/
}

#arrow:hover {
    /*    background-color: rgba(63,68,71, 1);*/
    background-color: rgba(63,68,71,1);
}

#arrow i {
    font-size: 1.5rem;
    color: #F6F7F8;
}

/* ARROW END */

/* NAVBAR STYLES START*/

#main-header {
    width: 100vw;
    height: 80vh;
    background-image: linear-gradient(to top, rgba(0, 10, 10, .9), rgba(0, 10, 10, .5)), url(../img/truck1.jpg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}

.navbar {
    width: 100%;
    height: 60px;
    text-align: center;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    color: white;
    background-color: rgba(63, 68, 71, .1);
    text-transform: uppercase;
}

#main-nav {
    transition: .5s all ease;
}

#main-nav.scroll {
    background-color: rgba(63, 68, 71, 1);
    /* JavaScript addClass */
}

#main-nav.hide {
    transform: translateY(-60px);
    /* JavaScript addClass */
}

#main-nav.show {
    transform: translateY(0);
    background-color: rgba(63, 68, 71, 1);
    /* JavaScript addClass */
}

.navbar-brand span:nth-child(1) {
    font-weight: 700;
    color: rgb(191, 159, 98);
}

.navbar-brand span:nth-child(2) {
    font-weight: 400;
}

.nav-link {
    margin: 10px;
    height: 50px;
    transition: .8s all;
}

.nav-link:hover {
    margin: 10px;
    border-bottom: 2px solid #f4364c;
}

.nav-link span {
    color: white;
    font-size: 1rem;
    font-weight: 300;
}

#navbar ul li {
    display: inline-block;
    margin: 5px;
    font-size: 2em;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;

}

.navbar-toggler {
    position: relative;
    right: -10px;
}

/* NAVBAR STYLES END*/

/* HEADER CONTENT START */

.header-content {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin: 0;
    color: #F6F7F8;
}

.header-content h1,
h2 {
    font-family: 'Open Sans', sans-serif;
}

.header-content h1 {
    margin-bottom: 2%;
    font-size: 4rem;
}

.header-content h1 span {
    color: #f4364c;
    font-weight: 700;
}

.header-content h2 {
    font-size: 2.5rem;
    font-weight: 500;
    color: white;
}

#typewriter-prefix {
    color: #f4364c;
}


/* HEADER CONTENT END */
/* HEADER END */
/* ORDER SECTION START */

#order {
    width: 100vw;
/*    height: 60vh;*/
    background-image: linear-gradient(to top, rgba(63, 68, 71, .2), rgba(63, 68, 71, .9)), url(../img/truck10.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
}

.order-container {
    height: 100%;
}

.order-header, .fa-icony {
    height: 50%;
}

.fas-ico {
    margin-top: 5%;
    margin-bottom: 5%;
    position: relative;
    top: 50%;
/*    transform: translateY(-50%);*/
}

#order .fas {
    color: #F6F7F8;
    background-color: #C32B3C;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-size: 2rem;
    border: 1px solid #C32B3C;
    text-align: center;
    line-height: 100px;
    transition: all 1s;
    cursor: pointer;
}

#order .fas:hover {
    color: #C32B3C;
    border: 1px solid #C32B3C;
    background-color: transparent;
    transform: rotate(360deg);
}

#order .fas:focus {
    color: #C32B3C;
    border: 1px solid #C32B3C;
    background-color: transparent;
    transform: rotate(360deg);
}

#order h4 {
    color: #F6F7F8;
    text-transform: uppercase;
    margin-top: 20px;
}

.section-header {
/*
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 2%;
*/
}

.section-header h2 {
/*
    position: relative;
    margin-top: 2%;
*/
    margin-top: 5%;
    text-transform: uppercase;
    color: #F6F7F8;
    font-size: 3rem;
    font-weight: 600;
}

.section-header p, .section-header h1 {
    color: #F6F7F8;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}


/* ORDER SECTION END */
/* OFFER SECTION START */

#offer {
    width: 100vw;
    background-image: linear-gradient(to top, rgba(0, 10, 10, .2), rgba(0, 10, 10, .9)), url(../img/truck4.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    position: relative;
}

.offer-container {
/*    height: 100%;*/
}

.offer-container-1 {
/*    height: auto;*/
    background-image: url(../img/offer-bg.png);
    background-size: cover;
    background-position: right;
    z-index: 50;
}

.offer-container-2 {
/*    height: auto;*/
}

.offer-head {
    padding: 2%;
    background: linear-gradient(black, rgba(63, 68, 71, 1), black);
    clip-path: polygon(0 0, 100% 0, 95% 99%, 0% 100%);
    position: relative;
    transform: translateX(20%);
    min-width: 350px;
    max-width: 700px;
    transition: 1.2s all ease .2s;
}

.offer-head:hover {
    transform: translateX(50%);
}

.offer-head span {
    color: #f4364c;
}

.offer-content-1 {
    margin:5%;
    text-align: justify;
    margin-right: 25%;
}

.offer-content-2 {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/*
.h1-offer {
    margin-left: 5%;
    margin-right: 5%;
}
*/

.h3-offer {
    font-family: 'Lato', sans-serif;
    font-size: 1.7rem;
    margin-bottom: 30px;
    margin-top: 30px;
}

#offer .section-header h2 {
     margin-top: 2%;   
}

.booklet-btn {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-top: 10px;
    min-width: 150px;
    max-width: 150px;
}

.btn-check-offer {
    background-color: #f4364c;
    border: .1px solid #f4364c;
    height: 60px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.btn-check-offer:hover {
    background-color: #C32B3C;
    border: .1px solid #C32B3C;
}

/* OFFER SECTION END */
/* SECTION CONTACT START */

#contact {
    width: 100vw;
/*    height: 80vh;*/
    background-image: linear-gradient(to top, rgba(0, 10, 10, .6), rgba(0, 10, 10, .7)), url(../img/MK-TRANS-logo-kolor.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    overflow: hidden;
}

.contact-container, .contact-row {
    height: 100%;
}

.contact-content {
    padding: 5%
}

.contact-data {
    color: #F6F7F8;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: 5%;
    text-shadow: 5px 5px 5px black;
}

.contact-data h1 {
    font-size: 3rem;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    text-shadow: 5px 5px 5px black;
    margin-bottom: 5%;
}

.contact-data h1 span {
    color: rgb(191, 159, 98);
    font-family: 'Lato', sans-serif;
}

.contact-data address {
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    font-style: italic;
}

.contact-data address a, .contact-data address span  {
    color: #C32B3C;
}

.contact-form {
/*    height: 100%;*/
    width: 100%;
}

.contact-form-content {
    width: 100%;
    padding: 5%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contact-form input {
    margin-bottom: 3%;
    height: 50px;
}

.contact-form textarea {
    min-height: 140px;
    max-height: 200px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 5px;
    padding-left: 10px;
    text-transform: uppercase;
    text-align: left;
    border-radius: 0px;
    border: 0px solid #6c747a;
    background-color: rgba(108, 116, 122, .7);
    color: white;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    font-weight: 500;
}

.contact-form form input:focus,
.contact-form form textarea:focus {
    background-color: rgba(108, 116, 122, .9);
    box-shadow: 10px 1em 2em hsla(0,0%,0%,.9);
}

.contact-form form input:hover,
.contact-form form textarea:hover {
    background-color: rgba(108, 116, 122, .9);
}

.contact-form button {
    background-color: #C32B3C;
    border: 1px #C32B3C solid;
    color: #F6F7F8;
    width: auto;
    text-transform: uppercase;
    font-weight: 600;
    padding: 15px 30px;
    float: right;
    margin-top: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: .9rem;
    cursor: pointer;
    transition: all .5s linear;
}

.contact-form button:hover, .contact-form button:focus {
    background-color: #F6F7F8;
    color: #C32B3C;
    border: 1px #C32B3C solid;
}

/* SECTION CONTACT END */

/* SECTION MAP START */

#map {
    width: 100vw;
    height: 70vh;
    /*    background-image: linear-gradient(to top, rgba(0,10,10, .2), rgba(0,10,10, .9)), url(../img/truck5.jpg);*/
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}

/* SECTION MAP END */

/* COPYRIGHT START */

.footer {
    width: 100%;
    height: 80px;
    background-color: black;
    font-size: 1rem;
    overflow: hidden;
}

.footer p {
    color: #F6F7F8;
    text-align: center;
    margin: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-family: 'Roboto', sans-serif; 
}

/* COPYRIGHT END */
